<html>
<head>
	<style>
		body, html {
			margin: 0;
			background-color: #eaeaea;
		}

		*, *:before, *:after {
			box-sizing: border-box;
		}

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	</style>
</head>
<body>

<div class="container">
	<!--suppress HtmlUnknownTarget -->
	<img src="{{ image }}">

	<h2>{{ name }} ({{ nickname }}) just untied {{ stage }}!</h2>
	<h3>The new world record is {{ time }}, set on {{ system }}.</h3>
	<h3><i>"{{ comment }}"</i></h3>

	<!--suppress HtmlUnknownTarget -->
	<a href="{{ link }}">{{ link }}</a>
</div>

</body>
</html>