<html>
<head>
    <!--suppress CssUnknownTarget -->
    <style>
        body, html {
            margin: 0;
            background-color: #eaeaea;
        }

        *, *:before, *:after {
            box-sizing: border-box;
        }

        .stage-image {
            min-height: 160px;
        }

        h2, h3, a {
            text-align: center;
        }

        a {
            display: inline-block;
            width: 100%;
        }
    </style>
</head>
<body>

<div class="container">
    <!--suppress HtmlUnknownTarget, CssUnknownTarget -->
    <div class="stage-image" style="background: url('{{ image }}') no-repeat center center;"></div>

    <br>

    <h2>{{ name }} ({{ nickname }}) just {{ verb }} {{ stage }} {{ difficulty }}!</h2>
    <h3>He got {{ time }}, while playing on {{ system }}.</h3>
    <h3><i>{{ comment }}</i></h3>

    <br>

    <div>
        <!--suppress HtmlUnknownTarget -->
        <a href="{{ link }}">{{ link }}</a>
    </div>
</div>

</body>
</html>